footer {
	background: #2a2a2a;
	color: #fff;
	padding: 0;
}
footer section {
	padding: 50px 0;
	display: inline-block;
	width: 22%;
	vertical-align: top;
}
footer section h5 {
	margin: 0 0 5px 0;
	color: #fff;
}
footer section a {
	color: #fff;
	font-size: 13px;
}

/*Last Post Section*/
/*------------------------------------------------*/
.last_posts {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.58);
	background: #3b3b3b;
	padding: 50px 20px 30px;
	width: 24%;
}
.last_posts h4 {
	text-align: center;
	color: #4ea7d3;
}
.last_posts .date,
.last_posts .post_content {
	display: inline-block;
	vertical-align: top;
}
.last_posts .day {
	display: block;
	font-size: 40px;
	font: 600 45px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 9px 0 0 0;
}
.last_posts .month {
	display: block;
	text-align: center;
	margin: 10px 0 0 0;
}
.last_posts .post_content {
	width: 68%;
	margin: 0 0 25px 20px;
}
.subscribe input[type="text"]{
	width: 66%;
	display: inline-block;
	float: left;
	padding: 5px 3px;
	border-radius: 3px;
	border: 0;
}
.last_posts .btn {
	width: 31%;
	float: left;
	min-width: inherit;
	border: 0;
	border-radius: 3px;
	padding: 7px 8px;
	margin: 0 0 0 -2px;	
}
.subscribe {
	border-top: 1px solid #6a6a6a;
	padding: 30px 0 0 0;
}
.subscribe h4 {
}
.share_links li {
	display: inline-block;
	vertical-align: top;
	margin: 15px 0 0 0;
}
.share_links a {
	display: inline-block;
	height: 24px;
	width: 27px;
}
.share_links .youtube {background: url(../img/socialMenuIcon-youtube.png) no-repeat;}
.share_links .youtube:hover {background: url(../img/socialMenuIcon-youtube_hover.png) no-repeat;}
.share_links .twitter {background: url(../img/socialMenuIcon-twitter.png) no-repeat;}
.share_links .twitter:hover {background: url(../img/socialMenuIcon-twitter_hover.png) no-repeat;}
.share_links .linkdin {background: url(../img/socialMenuIcon-linkdin.png) no-repeat;}
.share_links .linkdin:hover {background: url(../img/socialMenuIcon-linkdin_hover.png) no-repeat;}
@media only screen and (max-width: 970px) {
	footer section {
		padding: 20px 10px;
		width: 100%;
		box-sizing: border-box;
	}
	.last_posts {
		padding: 30px 20px 20px;
		width: 100%;
	}
}