/*
  ========================================
  Primary Header
  ========================================
*/

header {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	padding: 7px 0 5px 0;
	background: #fff;
	margin: -22px 0 0 0;
}
header .wrapper {
	position: relative;
}
select { border:0; outline: none; }
header nav,
header form,
header li {
	display: inline-block;
	vertical-align: bottom;
}
header .site-navigation > li  {
	float: left;
}
input[type="checkbox"].search_checkbox,
input[type="checkbox"].menu_checkbox {
	position: absolute;
	left: -9999999px;
}
.menu_btn, .search_btn_toggle{ display: none;}
header .site-navigation > li > a {
	padding: 10px 10px 0;
	border: 1px solid transparent;
	background: #fff;
}
header .site-navigation > li:hover > a {
	box-shadow: -5px 9px 8px rgba(0,0,0,0.4);
	border: 1px solid #D5D5D5;
	padding-bottom:20px ;
	color: #3399cc;
}
header .site-navigation > li:hover > div {
	display: block;
}
header .site-navigation > li > div {
	background: #fff;
	display: none;
	position: absolute;
	margin-top:9px;
	left: 0px;
	width: 100%;
	clear: both;
	padding: 20px;
}
.site-navigation a:hover {
	color: #3399cc;
}
.left_box {
	float: left;
	width: 60%;
}
.left_box ul {
	width:210px;
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 0 0;
}
.left_box ul li {
	display: block;
	margin: 0 0 10px 0;
}
.left_box ul li .headline {
	text-decoration: underline;
	color: #3399cc;
}
.right_img {
	float: right;
	border-left: 1px solid #ccc;
	padding:0 0 0 50px;
}
.logo {
	padding: 4px 0 5px 0;
}
.cust_login:before {
	padding: 0 11px 0 0;
}
/*
  ========================================
  Search input & Button
  ========================================
*/
.login_and_search {
	float: right;
}
.login {
	font: 400 14px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 20px 0;
}
.search_section {
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 7px;
	height: 26px;
}
.search_section input {
	font: 300 14px/16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 3px 0 0 8px;
	outline: none;
	width: 160px;
	border: 0;
}
.search_section button {
	position: absolute;
	background: #fff;
	cursor: pointer;
	outline: none;
	z-index: 99;
	border: 0;
	top: 3px;
	right: 0;
}

/*divider*/
.cust_login:before,
.search_section button:before,
.site-navigation li:after {
	content: '';
	background: url('../img/divider.png') no-repeat;
	width: 5px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

/*
  ========================================
  Nav
  ========================================
*/
.site-navigation { margin: 0 0 0 40px; }
.site-navigation li {
	font: 400 14px/16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.site-navigation li:after { display: none;}
.site-navigation li:last-child:after {
	opacity: 0;
}
@media only screen and (max-width: 970px) {
	.logo {
		width: 110px;
		display: block;
		margin: -5px auto 1px;
	}
	.logo img {
		width: 100%;
	}
	.login { display: none;}
	.search_btn_toggle {

		background: #E6E3E3;
		padding: 5px 10px;
		font-size: 26px;
		color: #3399cc;
		border: 1px solid #ccc;
		border-radius: 3px;
	}
	#submit { display: none; }
	input[type=checkbox].search_checkbox:checked + label{
		color: #B3ABB3;
	}
	input[type=checkbox].search_checkbox:checked ~ #siteSearchBox {
		top: 57px;
		height: 42px;
	}
	.search_section {
		position: absolute;
		width: 100%;
		background: #fff;
		top: 57px;
		left: 0;
		border: 0;
		padding: 0;
		border-radius: 0;
		border-top: 1px solid #ccc;
		transition: all 500ms;
		height: 0;
	}

	.search_section input {
		width: 96%;
		margin: 7px 2%;
		border: 1px solid #ccc;
		padding: 5px;
		box-sizing: border-box;
	}
	.search_btn_toggle {
		position: absolute;
		right: 10px;
		display: block;
		top: 9px;
	}
	.menu_btn {
		position: absolute;
		left: 10px;
		display: block;
		top: 10px;
		background: #E6E3E3;
		padding: 5px 10px;
		font-size: 26px;
		color: #B3ABB3;
		border: 1px solid #ccc;
		border-radius: 3px;
	}

	input[type=checkbox].menu_checkbox:checked + label {
		color: #3399cc;
	}
	input[type=checkbox].menu_checkbox:checked ~ #site-navigation-block {
		left: 0;
		height: 196px;
		overflow: visible;
	}
	#site-navigation-block {
		width: 100%;
		position: absolute;
		background: #fff;
		z-index: 9;
		height: 0;
		top: 58px;
		overflow: hidden;
		transition: all 500ms;
	}
	.site-navigation {
		margin: 0;
		padding: 0;
	}
	#site-navigation-block > ul > li {
		display: block;
		float: none;
		border-bottom: 1px solid #ccc;
	}
	#site-navigation-block > ul > li > a {
		padding: 16px;
		width: 100%;
		display: block;
		box-shadow: none;
		border: 0;
	}
	.right_img {
		display: none;
	}
	#site-navigation-block > ul > li > div {
		margin: 0;
		position: relative;
		background: #fff;
		overflow: auto;
		padding: 0 20px;
	}
	#site-navigation-block > ul > li a:hover {
		border: 0;
	}

}
