.comverse_services {
	background:url(../img/backgrounds/solutions-bg.png) repeat, rgba(73,166,203,1);
	background:url(../img/backgrounds/solutions-bg.png) repeat, -moz-linear-gradient(left, rgba(73,166,203,1) 0%, rgba(103,198,224,1) 50%, rgba(73,166,203,1) 100%);
	background:url(../img/backgrounds/solutions-bg.png) repeat, -webkit-gradient(left top, right top, color-stop(0%, rgba(73,166,203,1)), color-stop(50%, rgba(103,198,224,1)), color-stop(100%, rgba(73,166,203,1)));
	background:url(../img/backgrounds/solutions-bg.png) repeat, -webkit-linear-gradient(left, rgba(73,166,203,1) 0%, rgba(103,198,224,1) 50%, rgba(73,166,203,1) 100%);
	background:url(../img/backgrounds/solutions-bg.png) repeat, -o-linear-gradient(left, rgba(73,166,203,1) 0%, rgba(103,198,224,1) 50%, rgba(73,166,203,1) 100%);
	background:url(../img/backgrounds/solutions-bg.png) repeat, -ms-linear-gradient(left, rgba(73,166,203,1) 0%, rgba(103,198,224,1) 50%, rgba(73,166,203,1) 100%);
	background:url(../img/backgrounds/solutions-bg.png) repeat, 
	linear-gradient(to right, rgba(73,166,203,1) 0%, rgba(103,198,224,1) 50%, rgba(73,166,203,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a6cb', endColorstr='#49a6cb', GradientType=1 );
	padding: 0 0 50px 0;
	text-align: center;
}
.comverse_services h2 {
	font: 300 42px/132px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #fff;

}
.comverse_services h4 {
	font: 300 16px/24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 9px;
	color: #fff;
}
.comverse_services li {
	display: inline-block;
	vertical-align: top;
	width: 16%;
}

.comverse_solutions_link  {
	margin: 23px 0 0 0;
}
.comverse_solutions_link a {
	background: #318cad;
	color: #fff;
	padding: 10px;
	margin: 15px 0 0 0;
	border-radius: 5px;
	text-decoration: none;
}
.comverse_solutions_link a img { margin: 0 0 0 11px; }

/*icons*/
.comverse_services_list .img {
	background: url(../img/solutions/solution_icon_biz-analitics.png) center center;
	width: 100%;
	height: 65px;
	display: inline-block;
}
.business_stimulating .img { background: url(../img/solutions/solution_icon_biz-analitics.png) no-repeat  center center; }
.business_stimulating:hover .img { background: url(../img/solutions/solution_icon_biz-analitics_hover.png) no-repeat center center; }
.digital_customer .img { background: url(../img/solutions/solution_icon_diti-cx.png) no-repeat center center; }
.digital_customer:hover .img { background: url(../img/solutions/solution_icon_diti-cx_hover.png) no-repeat center center; }
.smart_monetization .img { background: url(../img/solutions/solution_icon_smart-money.png) no-repeat center center; }
.smart_monetization:hover .img { background: url(../img/solutions/solution_icon_smart-money_hover.png) no-repeat center center; }
.optimization .img { background: url(../img/solutions/solution_icon_optimize-efficnt.png) no-repeat center center; }
.optimization:hover .img { background: url(../img/solutions/solution_icon_optimize-efficnt_hover.png) no-repeat center center; }
.personalized_choice .img { background: url(../img/solutions/solution_icon_personal.png) no-repeat center center; }
.personalized_choice:hover .img { background: url(../img/solutions/solution_icon_personal_hover.png) no-repeat center center; }
.business_transformtion .img { background: url(../img/solutions/solution_icon_biz-transform.png) no-repeat center center; }
.business_transformtion:hover .img { background: url(../img/solutions/solution_icon_biz-transform_hover.png) no-repeat center center; }
@media only screen and (max-width: 970px) {
	.comverse_services h2 {
		font: 300 32px/42px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		padding: 20px 0;
	}
	.comverse_services li {
		width: 40%;
	}
	.comverse_services h4 {
		font: 300 13px/17px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.comverse_solutions_link {
		margin: 0 0 0 0;
	}
}