.comverse_success, footer {
	background: #ececec;
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.25);
	padding: 0 0 50px 0;
}
.comverse_success h2 {
	color: #000 ;
}
.comverse_success article {
	display: inline-block;
	vertical-align: top;
	width: 353px;
	margin: 0 21px 0 0;
}
.comverse_success .row {
	background: #fff;
	margin: 0 0 12px 0;
	padding: 10px;
	display: table;
}
.comverse_success .row > img,
.comverse_success .row blockquote {
	display: table-cell;
}
.comverse_success .row blockquote {
	padding: 0 0 0 10px; 
}
.small_boxes {
	margin: 0 0 10px 0;
}
.small_boxes img {
	/*margin: 0 10px 0 0;*/
}
.small_boxes img:nth-child(3) {
	margin: 0;
}
.small_boxes > div {
	margin: 0 10px 0 0;
	position: relative;
	display: inline-block;
	width: 108px;
	height: 95px;
	overflow: hidden;
}
.small_boxes > div:last-child { margin: 0; }
.small_boxes > div img {
	transition: top 0.2s, ease-in-out;
	top: 0;
	position: absolute;
}
.small_boxes > div:hover img {
	transition: top 0.2s, ease-in-out;
	top: -96px;
}
.small_boxes > div {
	background: url(../img/success-stories/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg) no-repeat;
}
.comverse_success .row blockquote:before,
.comverse_success .row blockquote:after {
	content: url(../img/icons/quote_grey.png);
	position: relative;
	top: 0;
	color: #ccc;
	display: inline-block;
}
.comverse_success blockquote {
	margin: 0;
    vertical-align: top;
    display: inline-block;
    width: 250px;
}